services:
  tle:
    build: .
    image: tle-bot:latest

    env_file: .env

    ports:
      - "${OAUTH_SERVER_PORT:-8080}:${OAUTH_SERVER_PORT:-8080}"

    volumes:
      - ./data:/bot/data

    restart: unless-stopped
    environment:
      - TZ=UTC
