services:
  tle:
    build: .
    image: tle-bot:latest

    env_file: .env

    ports:
      - "${OAUTH_SERVER_PORT:-8080}:${OAUTH_SERVER_PORT:-8080}"

    volumes:
      - ./data:/bot/data

    restart: no

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

    environment:
      - TZ=UTC
